#!/bin/bash

alias mysudo='sudo -E env "PATH=$PATH"'
alias sudo='sudo '
alias watch='watch '

alias bc='bc -l'
alias diff='colordiff'
alias df='df -h'
alias du='du -h'
alias du0='du -h --max-depth=0'
alias du1='du -h --max-depth=1'
alias psg='ps aux|grep'

# Change dir
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# Colorful list
if ls -G -d /dev/null &>/dev/null; then
	alias ls='ls -F --show-control-chars --color=auto'
fi
alias ll='ls -l'			# Sort by nothing
alias lx='ls -lhBX'			# Sort by eXtension
alias lz='ls -lhrS'			# Sort by siZe
alias lt='ls -lhrt'			# Sort by Time

alias dfind='find . -type d -name'
alias ffind='find . -type f -name'

mysetup() {
	if [ -d "$HOME/.setup.d/" ]; then
		for file in "$HOME/.setup.d"/*; do
			"$file"
		done
	fi
}

# Use python3 as python if not exist
if ! command -v python &>/dev/null; then
	alias python='python3'
fi

# Cross platform pbcopy
if command -v clip.exe &>/dev/null; then
	alias pbcopy='clip.exe'
elif command -v xsel &>/dev/null; then
	alias pbcopy='xsel -ib'
fi

if [ -d "$HOME/.aliases.d" ]; then
	for file in "$HOME/.aliases.d"/*; do
		source "$file"
	done
fi

